@import "tailwindcss";

:root {
  /* Light Mode (Default) */
  --background: #ffffff;
  --foreground: #0a0a0a;
  
  --primary: #171717;
  --primary-foreground: #fafafa;
  
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #0a0a0a;
  
  --radius: 0.625rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  
    --primary: #ededed;
    --primary-foreground: #171717;
  
    --secondary: #262626;
    --secondary-foreground: #ededed;
  
    --muted: #262626;
    --muted-foreground: #a1a1a1;
  
    --border: #262626;
    --input: #262626;
    --ring: #ededed;
  }
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
